

/* Background Color, Font Color*/
body {
  background-color: rgb(16, 17, 17);
  color: rgb(208, 202, 202);
}

#title {
 font-size: 30px;
 text-align: center;
 margin-bottom: 50px;
}

h2 {
  margin-bottom: 5px;
}

/* Triangle Style */
svg polygon {
  fill:antiquewhite;
}

/*After Arrow Clicked Class*/
.arrow_Clicked{
  fill:blue;
}

svg {
  width: 10px;
  height: 10px;
}

#skills {
  margin-top: 35px;
}

#road_map_img {
  height: 300px;
  width: 500px;
}


#content {
  margin-left: 300px;
}

/* Subtitles, img */
/* #intro, #road_map, #skills{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
/* }
